.advertisement {
  background-color: #f3ebe1;
  min-height: 656px;

  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
  }
}

.advertisement__legend {
  font-family: $font-drink  ;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  margin: 0;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.advertisement__text {
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    width: 588px;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.advertisement__item {
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 608px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.advertisement__reviews-prev {
  position: absolute;
  top: 317px;
  left: -20px;
  border: 0;
  background: 0;
  cursor: pointer;
  display: block;
  color: #7859cf;

  @media (min-width: $tablet-width) {
    top: 310px;
    left: 11px;
  }

  @media (min-width: $desktop-width) {
    top: 347px;
    left: -50px;
  }
}

.advertisement__review-next {
  position: absolute;
  top: 316px;
  left: 278px;
  border: 0;
  background: 0;
  cursor: pointer;
  display: block;
  color: #7859cf;

  @media (min-width: $tablet-width) {
    top: 310px;
    left: 695px;
  }

  @media (min-width: $desktop-width) {
    top: 347px;
    left: 1296px;
  }
}

.advertisement__button-block {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    top: 656px;
    left: 552px;
  }
}

.advertisement__button-desktop {
  width: 62px;
  height: 4px;
  margin-right: 8px;
  background-color: #ffffff;
  border: 0;

  &--active {
    background-color: #7859cf;
  }

  &:hover {
    background: rgba(120, 89, 207, 0.25);
  }

  &:active {
    background: #7859cf;
  }

  &:disabled {
    background: #bdbdbd;
  }

}

.advertisement__drink-name {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #333333;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0;
  }
}

.advertisement__promo-block {
  @media (min-width: $desktop-width) {
    margin: auto 0;
  }
}

.advertisement__promo {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1255px;
    min-height: 714px;
    padding: 0;
  }
}

.advertisement__promo-img {
  min-height: 280px;
  margin: 0 auto;
  padding-top: 24px;
  background-image: url("../img/flat-white-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% cover;
  margin-bottom: 10px;

  @media (min-resolution: 2dppx) {
    min-height: 280px;
    background-image: url("../img/flat-white-mobile@2x.png");
    background-size: 298px auto;
    background-position: -14px 5px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 476px;
    top: 345px;
    left: 115px;
    min-height: 476px;
    padding-top: 20px;
    background-image: url("../img/flat-white-tablet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% cover;

    @media (min-resolution: 2dppx) {
      min-height: 280px;
      background-image: url("../img/flat-white-tablet@2x.png");
      background-size: 484px auto;
      background-position: -14px 5px;
    }
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 600px;
    min-height: 600px;
    padding-top: 20px;
    background-image: url("../img/flat-white-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% cover;
    padding: 0;

    @media (min-resolution: 2dppx) {
      min-height: 280px;
      background-image: url("../img/flat-white-desktop@2x.png");
      background-size: 484px auto;
      background-position: -14px 5px;
    }
  }
}

.advertisement__price-block {
  display: flex;
  width: 230px;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.advertisement__crossed-text {
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: #7859cf;
  margin: 0 6px;
}

.advertisement__price-text {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.advertisement__price {
  display: flex;
}

.advertisement__button {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  background: #7859cf;
  box-shadow: 0 0 0 2px #7859cf;
  border-radius: 4px;
  border: none;
  height: 40px;
  padding: 8px 20px 8px 20px;

  &:hover {
    background: #9070ec;
  }

  &:active {
    background: #593cac;
  }

  &:disabled {
    background: #bdbdbd;
  }

}
