
.media__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 39px;
}

.media__link {
  text-decoration: none;
  font-family: $font-drink;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
}

.media__item {
  margin-bottom: 12px;
}

.media__item::before {
  position: absolute;
  content: "";
  top: 126px;
  left: -20px;
  width: 320px;
  height: 1px;
  background: #f0ebff;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
