.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    margin: 0 auto;
  }
}

.page-footer__social-block {
  display: flex;
  justify-content: space-between;
  min-height: 82px;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    display: block;
    width: 318px;
  }
}

.page-footer__title {
  margin: 0;
  font-family: $font-drink;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #7859cf;
  margin-bottom: 12px;
}

.page-footer__info-block {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1012px;
  }
}

.page-footer__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 17px;
  }
}

.page-footer__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    font-family: $font-drink;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 60px;
  }
}

.page-footer__main-block {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
  }
}

.page-footer__map {
  height: 420px;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}
