.contrast-icon {
  opacity: 0.3;

  &:hover {
    color: #283645;
    opacity: 0.5;
  }

  &:focus {
    border-radius: 4px;
    box-shadow: 0 0 0 2px #283645;
    outline: none;
  }

  &:active {
    color: #d22856;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
    color: #d22856;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}
