.copyright__link {
  color: #d22856;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
  }
}

.copyright__text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #283645;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}
