.hit-ribbon {
  position: absolute;
  top: 85px;
  left: 21px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 61px;
    height: 61px;
    top: 58px;
    left: 330px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 74px;
    height: 74px;
    top: 147px;
    left: 556px;
  }
}
