.price {
  position: relative;
  background: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    background: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 101% auto;
    background-position: 50% 0;
  }

  @media (min-width: $desktop-width) {
    background: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 101% auto;
    background-position: 50% 0;
  }
}

.price__wrapper {
  width: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    min-height: 346px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 940px;
  }
}

.price__table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-collapse: collapse;
  margin-top: 97px;
  margin-bottom: 39px;
  margin-left: -95px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 97px;
  }

  @media (min-width: $desktop-width) {
    width: 942px;
    padding: 0;
    margin-top: 158px;
    margin-bottom: 98px;
  }
}

.price__cell {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  background: #ffffff;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 1px 0 0 0;
  height: 55px;
  padding-left: 20px;
  padding-right: 19px;

  @media (min-width: $tablet-width) {
    padding: 0;
    background: #ffffff;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background: #ffffff;
    height: 59px;
  }
}

.price__cell-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__cell-inactive {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  color: #f2f2f2;
  background: #f2f2f2;

  @media (min-width: $tablet-width) {
    color: #283645;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    min-width: 132px;
    text-align: left;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 234px;
    font-size: 18px;
    line-height: 30px;
  }
}

.price__number {
  margin: 0;
  padding: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 7px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 0;
  }
}

.price__text {
  margin: 0;
  padding: 0;
  width: 276px;
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 41px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 152px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
    width: 233px;
  }
}

.price__cell-inactive-text {
  @media (min-width: $desktop-width) {
    font-family: $font-pink;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #283645;
  }
}

.price__cell-one {
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 1px 0 0 0;
  background: #283645;
  width: 276px;
  height: 98px;

  @media (min-width: $tablet-width) {
    background: #283645;
    width: 152px;
    height: 75px;
  }

  @media (min-width: $desktop-width) {
    background: #283645;
    width: 233px;
    height: 94px;
  }

  &--flag::before {
    position: absolute;
    content: url("../img/hit-ribbon.svg");
    top: 0;
    left: -2px;

    @media (min-width: $tablet-width) {
      position: absolute;
      content: url("../img/hit-ribbon-tablet.svg");
      top: 0;
      left: -2px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      content: url("../img/hit-ribbon.svg");
      top: 0;
      left: -2px;
    }
  }
}

.price__toggles {
  margin: 0;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.price__toggle {
  border: none;
  outline: none;
  padding: 0;
  font: inherit;
  color: inherit;
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    width: 6px;
    height: 6px;
    background: #283645;
    opacity: 0.6;
  }

  &--current {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 3px solid #283645;
    opacity: 1;
    border-radius: 50%;
    margin-right: 11px;

    &:hover {
      opacity: 1;
      background-color: #ffffff;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      border: 3px solid #283645;
    }
  }
}
