.scale__bar {
  position: relative;
  padding-left: 10px;
  width: 231px;
  height: 2px;
  background-color: #283645;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 71px;
    width: 188px;
    height: 2px;
    background-color: #283645;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 71px;
    width: 280px;
    height: 2px;
    background-color: #283645;
  }

  &--two {
    display: none;

    @media (min-width: $tablet-width) {
      position: relative;
      display: block;
      margin-bottom: 69px;
      width: 191px;
      height: 2px;
      background-color: #283645;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 71px;
      width: 279px;
      height: 2px;
      background-color: #283645;
    }
  }

  &--three {
    display: none;

    @media (min-width: $tablet-width) {
      position: relative;
      display: block;
      width: 192px;
      height: 2px;
      background-color: #283645;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 71px;
      width: 278px;
      height: 2px;
      background-color: #283645;
    }
  }
}

.scale__range-toggle {
  position: absolute;
  top: -6px;
  left: 194px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #d22856;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: #d22856;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -6px;
    left: 158px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -6px;
    left: 235px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }

  &--two {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: -6px;
      left: 24px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #ffffff;
      border: 2px solid #d22856;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      top: -6px;
      left: 37px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #ffffff;
      border: 2px solid #d22856;
      box-sizing: border-box;
    }
  }

  &--three {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: -6px;
      left: 95px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #ffffff;
      border: 2px solid #d22856;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      top: -6px;
      left: 139px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #ffffff;
      border: 2px solid #d22856;
      box-sizing: border-box;
    }
  }
}
