.site-list {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-transform: none;
    background: none;
  }
}

.site-list__item {
  height: 64px;

  @media (min-width: $desktop-width) {
    &--active-one {
      .site-list__link::after {
        position: absolute;
        bottom: 11px;
        left: 0;
        content: "";
        width: 70px;
        border: 1px solid #ffffff;
        border-radius: 10%;
      }
    }

    .site-list__link:hover {
      color: #d22856;

      @media (min-width: $desktop-width) {
        color: #d22856;
      }
    }

    .site-list__link:active {
      @media (min-width: $desktop-width) {
        color: #ffffff;
        opacity: 0.3;
      }
    }

    &--active-two {
      .site-list__link::after {
        position: absolute;
        bottom: 11px;
        left: 0;
        content: "";
        width: 109px;
        border: 1px solid #ffffff;
        border-radius: 10%;
      }
    }

    &--active-three {
      .site-list__link::after {
        position: absolute;
        bottom: 11px;
        left: 0;
        content: "";
        width: 70px;
        border: 1px solid #ffffff;
        border-radius: 10%;
      }
    }
  }
}

.site-list a {
  position: relative;
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  background-size: cover;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: $tablet-width) {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #283645;
    border-top: 1px solid #636d79;
    border-bottom: 1px solid #000000;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    background: none;
    border: none;
    text-transform: none;
  }
}
